body {
    /* border: 8px red solid; */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
#container {
    padding: 8px;
    /* border: 8px red solid; */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 6px;
    width: 23.5vw;
    height: 33vw;
    background-color: #132553;
}


.btn {
    width: 75px;
    height: 75px;
    font-size: 27px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.btn.zero {
    width: 168px;
}

#screen {
    width: 21.4vw;
    height: 4vw;
    border: green solid 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #A8C64E;
    font-weight: 900;
    font-size: 32px;
    padding-left: 9px;
    margin-bottom: 7px;
}